@media (min-width:1600px) and (max-width: 1920px) {
.logo_div {
    left: 48%;
    position: absolute;
    width: 200px;
    top: 50%;
}
.home_bg {
    min-height: 700px;}
}
@media (min-width:1381px) and (max-width: 1599px) {
.logo_div {
    left: 48%;
    position: absolute;
    top: 55%;
    width: 170px;
}
.home_leftside > h1 {
    font-size: 17.88px;
    left: 15%;
    margin: 0;
    position: relative;
    top: 260px;
}
.home_leftside img {
    padding-right: 195px;
}
.home_rightside h1 {
    font-size: 16.88px;
    margin: 0;
    position: relative;
    top: 260px;
}
.home_rightside img {
    padding-left: 193px;
}
}
@media (min-width:1300px) and (max-width: 1380px) {
.home_leftside > h1 {
      font-size: 16.88px;
    position: relative;
    top: 15px; left: 15%;
}
.home_rightside h1 {
    font-size: 16.88px;
    left: 15%;
    position: relative;
    top: 15px;
}
    }
@media (min-width:1281px) and (max-width: 1380px) {
.logo_div {
    left: 48%;
    position: absolute;
    top: 45%;
    width: 160px;
}
.home_leftside img {
    padding-right: 195px;
}
.home_rightside img {
    padding-left: 193px;
}
}
@media (min-width:1200px) and (max-width: 1280px) {
.logo_div {
    left: 47%;
    position: absolute;
    top: 43%;
    width: 160px;
}
.home_rightside{left: 0;}
.home_leftside{left: 100px;}
.home_leftside img{ width: 80%;}
.home_rightside img{ width: 80%;}
.home_rightside h1{ font-size: 16.88px;
    left: 0px; top: 100px; position: relative;}
.home_leftside > h1 {
    font-size: 16.88px;
    left: 0;
    position: relative;
    top: 100px;
}
    .registerbtn a{font-size: 18px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
.browseimage img {
    height: 70px;
    width: 70px;
}
.formarea{padding: 0;}
.listing_btn {
    padding-left: 0;
}
.listing_btn a{font-size: 14px;
    padding: 7px 6px;}
    .singleview_right{padding-left: 0;}
.column {
    height: 80px;
    margin-bottom: 5px;
}
.before_login_menu li {
    padding: 30px 27px !important;
}
.bg_img .formarea {
    top: 0px !important;
}
.contact_details a {
    font-size: 14px !important;
}
.edit_profile_section_user {
    padding-top: 10%;
}
.menu_after_login {
    width: 43%;
}
.create_post_livestock, .edit_post_livestock {
    padding-top: 10%;
}
.logo_div {
    left: 53%;
    top: 50%;
    width: 140px;
}
.registerbtn a{font-size: 16px;}
.home_leftside img{ width: 90%;}
.home_rightside img{ width: 90%;}
.home_leftside > h1 {
    font-size: 14.88px;
    left: 40px;
    position: relative;
    top: 0px;margin-top: 0px;
}
.home_rightside h1 {
    font-size: 14.88px;
    left: 25%;
    position: relative;
    top: 0px;margin-top: 0px;
}
.home_content a {
    color: #58595b;
    padding: 10px 0;
}
.home_content .home_leftside a{font-size: 15px;letter-spacing: 0;padding: 6px;}
.home_content .home_rightside a{font-size: 15px;letter-spacing: 0;padding: 6px;}
.btnborder > a{font-size: 16px;}
.login_btn_section{padding: 0px;}
.home_leftside, .home_rightside{margin-top: 0px;}
}
@media (min-width: 768px) and (max-width: 991px) {
.registeration_section{ padding: 50px;}
.browseimage img {
    height: 70px;
    width: 70px;
}
.formsection .forminput.inputdiv label span{font-size: 13px;}
.formarea {
    padding: 0;
}
.content_part.tab_view {
    margin: 0;
    width: 100%;
}
.listing_btn a {
    font-size: 14px;
    padding: 7px 4px;
}
.single_view{padding: 10px;}
.singleview_right{padding-left: 0;}
.column {
    height: 65px;
    margin-bottom: 5px;
}
.contact_details{padding: 10px;}
.home_leftside img{padding-right: 50px;}
.home_rightside img {
    padding-left: 90px;
}
.home_leftside > h1 {
    font-size: 15.88px;
    left: -10px;
    line-height: 20px;
    top: 35px;
}
.home_rightside h1 {
    font-size: 15.88px;
    left: 45px;
    line-height: 20px;
    top: 30px;
}
.home_leftside{left: -90px;}
.logo_div{width: 100px;}
.menu_after_login {
    width: 100%;
}
.dropdown_menu_list {
    width: 100%;
}
.profile_banner {
    padding-top: 50px;
}
.edit_profile_btn > a {
    font-size: 12px;
}
.edit_profile_btn {
    padding: 10px;
}
.profile_content p span {
    font-size: 15px;
}
.profile_content p span b {
    font-size: 14px;
}
.profile_content .description {
    text-align: justify;
}
.drop_div {
    width: 100%;
}
.before_login_menu li {
    padding: 30px 20px !important;
}
.before_login_menu li a {
    font-size: 14px !important;
}
.bg_img .formarea {
    top: 0px !important;
}
.contact_details a {
    font-size: 13px !important;
}
.edit_profile_section_user {
    padding-top: 20% !important;
}
.create_post_livestock, .edit_post_livestock {
    padding-top: 20%;
}
}
@media (max-width: 767px) {
.registeration_section{padding: 30px 20px;}
.rightspace{ padding-left: 15px;}
.leftspace{ padding-right: 15px;}
.logo_img img {
    margin: auto;
    padding-top: 0;
}
.reversediv {
    float: left;
    width: 100%;
}
.mobile-reverse {
     display: -webkit-flex;
  display: flex; -webkit-flex-flow: row-reverse wrap;
    flex-flow: column-reverse nowrap;}
.formsection .forminput.inputdiv label span{font-size: 12px;}
.pagination_section .pagination {
    background: #fff none repeat scroll 0 0;
    padding: 30px 10px;
    width: 100%;
}
.profile_banner{padding-bottom: 50px;}
.single_view{padding: 10px 0;}
.singleview_right {
    float: left;
    width: 100%;
}
.column_div {
    margin-top: 10px;
}
.singleview_content {
    float: left;
    width: 100%;
}
.login_btn_section .loginbtn_border > a {
    float: none;
    padding: 5px 0px;
    text-align: center;
}
.registerbtn {
    padding: 0;
}
.loginbtn_border {
    width: 100%;text-align: center;
}
.mobpadding {
    padding: 0;
}
.registerbtn a {
    font-size: 13px;
    line-height: 17px;
    padding: 5px 10px !important;
}
.register_btn_section {
    padding: 0;
}
.home_leftside {
    left: 0;
    width: 100%;
}
.home_leftside > h1{ left: 0px;margin: 0 auto;}
.dropbaa-text{ width: 200px;left: 0px;}
.dropbaaimg {
    left: 30px;
    width: 150px;
}
}
@media (min-width: 641px) and (max-width: 767px) {
.listing_btn {
    padding-left: 0;
}
.listing_btn a {
    font-size: 14px;
    padding: 5px 4px;
}
.dropdown_menu_list {
    width: 100%;
}
.menu_after_login {
    width: 100%;
}
.profile_banner {
    padding-top: 50px;
}
.profile_content .description {
    text-align: justify;
}
.profile_content {
    width: 100%;
}
.drop_div {
    float: left;
    width: 100%;
}
/*.userimg.text-right {
    width: 100% !important;
}*/
.before_login_menu li a {
    font-size: 16px !important;
}
.bg_img .formarea {
    top: 0px !important;
}
.filter_input.leftspace {
    margin-bottom: 15px;
}
.price_block {
    margin-right: 0 !important;
}
.edit_profile_section_user {
    padding-top: 35%;
    margin-top:0px !important;
}
.create_post_livestock, .edit_post_livestock, .create_post_livestock h1, .edit_post_livestock h1 {
    margin-top: 0px;
}
.create_post_livestock, .edit_post_livestock {
    padding-top: 35%;
}
}
@media (min-width: 481px) and (max-width: 640px) {
    .text_div {
    width: 75%;
}
.listing_btn{width: 100%;}
.lightbox_images{padding: 0;}
.column{padding: 0px 3px;}
.singleview_content {
    float: left;
    width: 100%;
}
.userimg.text-right {
    width: 100%;
}
.logo_img {
    width: 100%;
}
.menu_after_login {
    float: none;
    text-align: center;
    width: 100%;
}
.dropdown_menu_list {
    width: 100%;
}
.profile_banner {
    padding-top: 120px;
}
.profile_content .description {
    font-size: 14px;
    text-align: justify;
}
.profile_content {
    width: 100%;
}
.before_login_menu li {
    padding: 30px 17px !important;
}
.before_login_menu li a {
    font-size: 14px !important;
}
.bg_img .formarea {
    top: 0px;
    margin-top: 0px !important;
}
.filter_input.leftspace {
    margin-bottom: 15px !important;
}
.price_block {
    margin-right: 0 !important;
}
.text_div p {
    font-size: 14px !important;
    text-align: justify !important;
}
.edit_profile_section_user h1 {
    margin-top: 0 !important;
}
.edit_profile_section_user {
    padding-top: 60%;
}
.create_post_livestock h1, .edit_post_livestock h1 {
    margin-top: 0px !important;
}
.create_post_livestock, .edit_post_livestock h1 {
    padding-top: 60% !important;
}
}
@media (max-width: 480px) {
.browseimage img {
    height: 50px;
    width: 50px;
}
.forminput.rightspace.inputdiv.land{width: 100%;}
.forminput.rightspace.inputdiv.currency{width:100%;}
.browse_btn span{margin-top: 15px;padding: 10px 15px;}
.filter_input {
    margin-bottom: 15px;
}
.text_div .price_div span {
    padding-right: 20px;
}
.img_div {
    width: 100%;
}
.text_div {
    margin-top: 10px;
    width: 100%;
}
.listing_btn {
    width: 100%;
}
.text_div > h3{font-size: 16px;}
.userimg img {
    height: 40px;
    width: 40px;
}
.userimg {
    padding-top: 20px;
}
.profile_img {
    width: 100%;
}
.profile_img img {
    margin: auto auto 20px;
    width: 60%;
}
.profile_content {
    text-align: center;
    width: 100%;
}
.profile_content p span{font-size: 15px;}
.text_div .price_div > span {
    padding-right: 15px;
}
.lightbox_images {
    float: left;
    padding: 0;
    width: 100%;
}
.column{padding: 0px 3px;}
.singleview_content {
    float: left;
    width: 100%;
}
/******************mycssni*************/
.logo_img {
    width: 100%;
}
.menu_after_login {
    width: 100%;
}
.userimg.text-right {
    width: 100%;
}
.before_login_menu li {
    padding: 10px 9px;
}
.before_login_menu li a {
    font-size: 16px;
}
.profile_banner {
    padding-top: 90px;
}
.profile_content > h2 {
    text-transform: capitalize;
}
.profile_content p span b {
    font-size: 12px;
    padding-right: 20px;
}
.profile_content p span {
    font-size: 11px;
    text-align: left;
}
.profile_content .description {
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
}
.edit_profile_btn {
    text-align: center;
}
.add_post_btn {
    float: right;
    text-align: right;
    width: 70%;
}
.add_post_btn > a {
    font-size: 12px;
}
.dropdown_menu_list {
    margin-top: 8px;
    width: 100%;
}
.menu_after_login {
    text-align: center;
}
.bg_img .formarea {
    top: 0px !important;
    margin-top: 0 !important;
}
.radiobtns .radiobutton {
    margin-left: 0 !important;
}
#searchform .searchbar_bg button {
    font-size: 15px;
}
.price_block {
    margin-right: 0 !important;
}
.text_div p {
    font-size: 13px;
    text-align: justify;
}
.singleview_content p {
    font-size: 15px !important;
    line-height: 21px !important;
    padding-right: 0px !important;
    text-align: justify !important;
}
.contact_details a {
    font-size: 14px !important;
}
.singleview_content {
    margin-top: 20px;
}
.bg_img .formarea h1 {
    margin-top: 0;
}
.edit_profile_section_user {
    padding-top: 75%;
}
.create_post_livestock, .edit_post_livestock {
    padding-top: 75%;
}
.dropbaa-text{width: 140px; left: 0;}
.dropbaaimg{  left: 40px;
    margin: auto;
    position: relative;
    width: 180px;}
.login_btn_section{width:50%; padding-left: 0;}
.btns_div{width: 100%;}
.mobile_homecontent {
    float: left;
    left: 50%;
    position: relative;
    top: -110px;
    width: 50%;
}
.btnborder > a{font-size: 18px;}
.mobhome_leftside {
    padding-left: 0;
}
.mobhome_rightside{padding-left: 0px;}
.mobview_btn > a {
    border: 2px solid #000009;
    color: #000009;
    float: left;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
}