/**css-start-here**/
 body{
    margin: 0px;
    padding: 0px;
    font-family:"ClearSans Regular";
}
 @font-face {
     font-family:"ClearSans Regular";
     src:url("../fonts/ClearSans-Regular.ttf");
}
 @font-face {
     font-family:"ClearSans Bold";
     src:url("../fonts/ClearSans-Bold.ttf");
}
@font-face {
     font-family:"Bering Regular";
     src:url("../fonts/beringregular.ttf");
}
 @font-face {
     font-family:"Cheeronsta Bold";
     src:url("../fonts/Cheeronsta Bold.otf");
}
 a , a:hover , a:focus{
    text-decoration: none;outline:0 !important;
}


.add_post_btn > a {
    background: #708712 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
}
 .registeration_section {
     background: #fff none repeat scroll 0 0;
     border-radius: 0 0 5px 5px;
     box-shadow: 2px 19px 69px 0px rgba(0,0,0,0.13);
     float: left;
     padding: 90px 120px;
     width: 100%;
}
 .leftborder hr.borderline {
     border: 5px solid #99cc33;
     border-radius: 4px 0 0;
     margin: 0;
}
 .rightborder hr.borderline {
     border: 5px solid #99cc33;
     border-radius: 0 4px 0 0;
     margin: 0;
}
 .rightborder {
     padding-left: 5px;
}
 .leftborder {
     padding-right: 5px;
}
 .white_bg {
     background: #fff none repeat scroll 0 0;
     border-radius: 4px;
}
 .formsection .forminput label {
     /*color: #292928;*/
     color: #737373;
     font-family: ClearSans Regular;
     font-size: 18px;
     font-weight: normal;
    float: left;
    width: 100%;text-align: left;
}
 .formsection .forminput input {
     border: 1px solid #cfcfcf;
     border-radius: 5px;
     box-shadow: none;
     height: 55px;
    font-size: 16px;
    font-family: ClearSans Regular;
    color: #737373;
}
 .formsection .forminput select{
     border: 1px solid #cfcfcf;
     border-radius: 5px;
     box-shadow: none;
     height: 55px;
    font-size: 16px;
    font-family: ClearSans Regular;
    /*color: #c5c6c1;*/
    color: #737373;
    -moz-appearance:none;
    -webkit-appearance:none;
     background-image: url("../images/dropdownicon.png");
     background-position: 98% center;
     background-repeat: no-repeat;
}
 .formsection .forminput textarea {
     border: 1px solid #cfcfcf;
     border-radius: 5px;
     box-shadow: none;
     font-size: 16px;
    font-family: ClearSans Regular;
    /*color: #c5c6c1;*/
    color: #737373;
}
 .savebnt button {
     background: #99cc33 none repeat scroll 0 0;
     border: 0 none;
     color: #fff;
     font-family: ClearSans Regular;
     font-size: 22px;
     padding: 7px 30px;
}
 .nopadding{
    padding: 0px;
}
 .leftspace{
    padding-right: 5px;
}
 .rightspace{
    padding-left: 5px;
}
 .browseimage img {
     height: 90px;
     width: 90px;
}
 .browse_btn span{
    background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
     background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
     background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
     background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
     background-image: linear-gradient(top, #ffffff, #e1e1e1);
     border: 1px solid #d6d6d6;
     border-radius: 5px;
     color: #666666;
     float: left;
     font-size: 15px;
     padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}
 .browseimage {
     margin-top: 15px;
}
 .browse_btn p {
     color: #99cc33;
     float: left;
     font-size: 16px;
     width: 100%;
}
 header {
     padding: 10px 0;
}
 .formsection .forminput input.form-control::-moz-placeholder{
    font-size: 16px;
    font-family: ClearSans Regular;
    color: #c5c6c1;
}
 .formsection .forminput input.form-control::-webkit-placeholder{
    font-size: 16px;
    font-family: ClearSans Regular;
    color: #c5c6c1;
}
 .formsection .forminput textarea.form-control::-moz-placeholder{
    font-size: 16px;
    font-family: ClearSans Regular;
    color: #c5c6c1;
}
 .formsection .forminput textarea.form-control::-webkit-placeholder{
    font-size: 16px;
    font-family: ClearSans Regular;
    color: #c5c6c1;
}
 .formarea h1 {
     color: #669900;
     font-size: 36px;
     text-align: center;
    margin-bottom: 40px;
    font-family: ClearSans Bold;
}
 .formsection .radiobtns .radio-inline {
     color: #666666;
     font-size: 15px;
     padding-right: 20px;
     padding-top: 3px;
     width: auto;
}
 .formsection .checkbox_div .check_box{
     color: #666666;
     font-size: 15px;
     padding-right: 20px;
     padding-top: 3px;
     width: auto;
}
 .formsection .radiobtns .radio-inline > input {
     height: auto;
     margin-top: 8px;
}
/**radiobtn-css**/
 .radiobutton {
     display: block;
     position: relative;
     padding-left: 25px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
/* Hide the browser's default radio button */
 .radiobutton input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
}
/* Create a custom radio button */
 .radiobutton.radio-inline .checkmark {
     background-color: #fff !important;
     border: 1px solid #c2c2c2;
     border-radius: 50%;
     height: 15px;
     left: 0;
     position: absolute;
     top: 7px;
     width: 16px;
}
/* On mouse-over, add a grey background color */
 .radiobutton:hover input ~ .checkmark {
     background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
 .radiobutton input:checked ~ .checkmark {
     background-color: #fff;
     border-color: #99cc33;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
/* Show the indicator (dot/circle) when checked */
 .radiobutton input:checked ~ .checkmark:after {
     display: block;
}
/* Style the indicator (dot/circle) */
 .radiobutton .checkmark::after {
     background: #99cc33 none repeat scroll 0 0;
     border-radius: 50%;
     height: 6px;
     left: 3px;
     margin-left: 1px;
     top: 4px;
     width: 6px;
}
/**radiobtn-css**/
/**checkbox-css**/
 .check_box {
     display: block;
     position: relative;
     padding-left: 25px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
/* Hide the browser's default checkbox */
 .check_box input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
}
/* Create a custom checkbox */
 .check_box .checkmark {
     background-color: #fff;
     border: 1px solid #c2c2c2;
     border-radius: 3px;
     height: 15px;
     left: 0;
     position: absolute;
     top: 7px;
     width: 15px;
}
/* When the checkbox is checked, add a blue background */
 .check_box input:checked ~ .checkmark {
     border: 1px solid #99cc33;
}
/* Create the checkmark/indicator (hidden when not checked) */
 .check_box .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
/* Show the checkmark when checked */
 .check_box input:checked ~ .checkmark:after {
     display: block;
}
/* Style the checkmark/indicator */
 .check_box .checkmark:after {
     left: 4px;
     top: 2px;
     width: 5px;
     height: 8px;
     border: solid #99cc33;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
/**checkbox-css**/
 .formsection .forminput.inputdiv label span {
     color: #99cc33;
     float: left;
     font-size: 15px;
     width: 100%;
}
 .formsection .forminput.inputdiv.land input {
     width: 150px;
}
 .formsection .forminput.inputdiv.currency input {
     width: 80px;
}
.userimg img {
    height: 60px;
    width: 60px;
}
 .userimg span {
     font-family: ClearSans Bold;
     font-size: 16px;
     padding-right: 20px;
}
.user_name_title {
    color: #73901C !important;
}
 .userimg a {
     color: #1d1d1d;
}
}
 .after_login {
     border-bottom: 1px solid #89c9de;
}
 .searchbar_bg {
     background: #fff none repeat scroll 0 0;
     float: left;
     padding: 15px 15px;
     width: 100%;
}
 .searchbar_bg h3 {
     color: #86a214;
     font-family: ClearSans Bold;
     font-size: 22px;
     margin: 0 0 10px;
}
 .search_form .form-group input {
     background: #f5f5f5 none repeat scroll 0 0;
     border-radius: 4px 0 0 4px;
     box-shadow: none;
     height: 50px;
}
 .search_form .form-group input.form-control::-moz-placeholder{
    font-size: 15px;
    color: #91918f;
}
 .search_form button.btn-default {
     background: #99b04b none repeat scroll 0 0;
     border: 0 none;
     border-radius: 0 4px 4px 0;
     color: #fff;
     font-family: ClearSans Bold;
     font-size: 18px;
     height: 50px;
     text-transform: uppercase;
     width: 100%;
}
 .filter_input select {
     border: 0 none;
     border-radius: 3px;
     height: 35px;
     width: 100%;
    -moz-appearance:none;
    -webkit-appearance:none;
}
 .filter_input input {
     border: 0 none;
     border-radius: 3px;
     height: 45px;
     width: 100%;
     color: #666;
     font-size: 16px;
    box-shadow: none;
}
 .filter_input input:focus{
    box-shadow: none;
}
 .filter_input select {
     -moz-appearance: none;
     background-image: url("../images/dropdownicon.png");
     background-position: 96% center;
     background-repeat: no-repeat;
     background-size: 12px auto;
     border: 0 none;
     border-radius: 3px;
     color: #666;
     font-size: 16px;
     /*height: 45px;*/
     height: 50px;
     width: 100%;
     padding: 0 8px;
}
 .filters_div {
     float: left;
     margin-top: 10px;
     width: 100%;
}
 .filter_input input.form-control::-moz-placeholder{
    color:#666;
    font-size: 16px;
}
 .filters_div .input-group-addon {
     background: #99b04b none repeat scroll 0 0;
     color: #fff;
     font-family: ClearSans Bold;
     font-size: 18px;
}
 .listing_section {
     background: #fff none repeat scroll 0 0;
     float: left;
     width: 100%;
}
 .listing_header h2 {
     border-bottom: 1px solid #f2f2f2;
     color: #86a214;
     font-family: ClearSans Bold;
     font-size: 20px;
     margin: 0;
     padding: 15px 15px;
}
 .listing_header h2 span {
     color: #787878;
     font-family: ClearSans Regular;
     font-size: 17px;
}
 .text_div > h3 {
     color: #86a214;
     font-family: ClearSans Bold;
     font-size: 19px;
     margin: 0;
}
 .img_div img {
     border: 3px solid #cee18f;
     border-radius: 3px;
}
 .text_div p {
     color: #999999;
     font-size: 16px;
}
 .text_div p.price_div {
     color: #666666;
     font-family: ClearSans Bold;
     margin-bottom: 5px;
}
 .text_div .price_div > span {
     padding-right: 50px;
}
 .text_div .posted {
     color: #4f4f4f;
}
 .posted > span {
     color: #99b04b;
}
 .listing_btn a {
     border-radius: 4px;
     float: left;
     padding: 7px 6px;
     text-align: center;
     width: 100%;
    font-family: ClearSans Bold;
     font-size: 16px;
    margin-bottom: 7px;
}
 .listing_btn a.viewbtn {
     background: #99b04b none repeat scroll 0 0;
     color: #fff;
}
 .listing_btn a.savebtn {
     border: 1px solid #d7d7d7;
     color: #99b04b;
}
 .listing_blk {
     border-bottom: 1px solid #f2f2f2;
     padding: 30px 0;
    float: left;
    width: 100%;
}
 .content_part {
     padding-bottom: 70px;
     /*padding-top: 70px;*/
     padding-top: 30px;

}
 .pagination_section {
     float: left;
     text-align: center;
     width: 100%;
}
 .pagination_section .pagination {
     background: #fff none repeat scroll 0 0;
     padding: 30px 60px;
     width: 60%;
}
 .pagination_numbers {
     border: 2px solid #c2cacc;
     border-radius: 4px;
     float: left;
     width: 100%;
}
 .pagination_section .pagination_numbers > a {
     color: #62676a;
     float: left;
     font-family: ClearSans Bold;
     font-size: 17px;
     padding: 7px 0;
     width: 12.25%;
}
 .pagination_numbers > a:first-child {
     border-right: 1px solid #c4c9cd;
}
 .pagination_numbers > a:last-child {
     border-left: 1px solid #c4c9cd;
}
 .pagination_section .pagination_numbers > a.active , .pagination_section .pagination_numbers > a:hover{
    background: #c4c9cd;
    color: #fff;
}
 .pagination_section .pagination_numbers i {
     color: #c4c9cd;
     font-size: 22px;
     text-align: center;
}
 .pagination_numbers > a:first-child:hover , .pagination_numbers > a:last-child:hover{
    background: none;
}
 .profile_banner {
     background: rgba(0, 0, 0, 0) url("../images/profile_banner.JPG") no-repeat scroll 0 0 / cover ;
     padding: 0px 0 0;
}
 .profile_img img {
     border: 3px solid #336600;
     border-radius: 6px;
     box-shadow: 2px 13px 39px 0 rgba(0, 0, 0, 0.33);
     position: relative;
     top: 70px;
}
 .profile_content {
     padding-top: 70px;
}
 .profile_content > h2 {
     color: #fff;
     font-family: ClearSans Bold;
     margin-top: 0;
}
 .profile_content > p {
     color: #fff;
     font-size: 16px;
}
 .profile_content p span {
     float: left;
     font-size: 18px;
     width: 100%;
}
 .profile_content p span b {
     padding-right: 20px;
}
 .profile_content .description {
     float: left;
     margin-top: 30px;
     width: 100%;
}
 .top_spacing {
     margin-top: 0px;
}
 .map_section iframe {
     border-radius: 5px;
     width: 100%;
}
 .map_section > h2 {
     color: #657e0e;
     font-family: ClearSans Bold;
     font-size: 22px;
     margin-bottom: 10px;
     margin-top: 0;
}
 .map_section {
     margin-bottom: 20px;
}
.single_view {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 19px 69px 0 rgba(0, 0, 0, 0.13);
    float: left;
    margin-bottom: 100px;
    margin-top: 30px;
    padding: 30px 50px;
    width: 100%;
}
 .singleview_left h3 {
     color: #86a214;
     font-family: ClearSans Bold;
     font-size: 23px;
     margin-bottom: 0;
}
 .singleview_left > span {
     color: #333333;
     float: left;
     font-family: ClearSans Bold;
     font-size: 20px;
     width: 100%;
}
 .slider_area {
     float: left;
     padding-top: 20px;
     width: 100%;
}
 .column {
     height: 100px;
     margin-bottom: 10px;
     overflow: hidden;
    padding-left: 0;
}
 .logo_img img {
     width: 80px;
}
.singleview_content p {
    color: #666666;
    font-size: 16px;
    line-height: 28px;
    padding-right: 30px;
}
.singleview_content p.land_type {
    font-family: ClearSans Bold;
    font-size: 18px;
}
.singleview_content p.land_type span {
    font-family: ClearSans Bold;
    font-size: 18px;
}
.land_type > span {
    color: #86a214;
}
.singleview_right > h3 {
    color: #333;
    font-family: ClearSans Regular;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}
.contact_details {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 2px solid #759c2e;
    margin-top: 20px;
    padding: 10px 20px;
}
.contact_details h2 {
    border-bottom: 1px solid #fff;
    color: #343434;
    font-family: clearsans bold;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 5px 0 15px;
    text-transform: uppercase;
}
.contact_details > p {
    color: #86a214;
    font-family: ClearSans Bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.contact_details span {
    color: #414040;
    float: left;
    font-family: ClearSans Regular;
    font-size: 18px;
    line-height: 15px;
    width: 100%;
}
.home_leftside > h1{
    bottom: 0;
    color: #58595b;
    font-family: Cheeronsta Bold;
    font-size: 24.88px;
    line-height: 28px;
    text-align: center;
    top: 70px;
    width: auto;
}
.home_rightside h1 {
    bottom: 0;
    color: #58595b;
    font-family: Cheeronsta Bold;
    font-size: 24.88px;
    line-height: 28px;
    text-align: center;
    width: auto;
}

.home_leftside img {
    padding-right: 120px;
    width: 100%;
}
.home_rightside img {
    padding-left: 170px;
    width: 100%;
}
.home_leftside {
  display: -webkit-flex;
  display: flex;
    justify-content: center;
    margin-top: 40px;
}
.home_rightside {
  display: -webkit-flex;
  display: flex;
    justify-content: center;-webkit-justify-content: center;
    margin-top: 40px;
}
.logo_div {
    left: 48%;
    position: absolute;
    top: 37%;
    width: 200px;
}
.column img{cursor: pointer;}

/**.column_div {
    height: 320px;
    overflow-y: scroll;
}**/
/**css-end-here**/

/********mycssni************/
main {
    position: relative;
    top: 100px;
}
.after_login {
    background: #fff none repeat scroll 0 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.formarea {
    /*margin-top: 70px;*/
    margin-top: 175px;
    position: relative;  
    padding-bottom: 70px;
}
.browseimage img {
    margin-bottom: 15px !important;
}
.menu_after_login {
    position: relative;
    width: auto;padding:4px 0 0 0;
}
.dropdow .dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    position: inherit !important;
}
.dropdown_menu_list {
    margin-top: 8px;
}
.dropdown_menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
}
.dropdown_menu:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
}
.dropdown_menu:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
}
.dropdown_menu:active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    box-shadow: none;
}
 .open > .dropdown-toggle.btn-primary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-color: none !important;
 }
 .dropdown_menu_list li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.dropdown_menu_list li a {
    border-bottom: 1px solid;
    color: #99cc33;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px 8px 15px;
    text-transform: capitalize;
}
.dropdown_menu_list li:hover {
   background: #99CC33;
}
.dropdown_menu_list {
    padding-top: 0px;
    padding-bottom: 0px;
}
.item {
    height: 300px;
    overflow: hidden;
}
.pagination_section .pagination {
    width: 30%;
}
.pagination .active > span {
    background: #75a02d none repeat scroll 0 0 !important;
    border-color: #75a02d !important;
}
.pagination li a {
    color: #75a02d !important;
}
.price_block {
    margin-right: 10px;
}
.before_login_menu {
    list-style: outside none none;
}
.before_login_menu li {
    display: inline;
    float: left;
    padding: 30px 35px;
}
.before_login_menu li a {
    color: #99b04b;
    font-size: 20px;
}
.image_note strong {
    padding-right: 5px;
}
.image_note {
    font-size: 14px !important;
    font-style: italic;
}
.home_content a {
    color: #58595b;
}
.btn.btn-link {
    color: #99cc33;
}
.logodiv_img img {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
}
.btnborder > a {
    border: 2px solid #000009;
    color: #000009;
    float: left;
    font-size: 22px;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: "Bering" !important;
}
.home_content {
    margin-bottom: 0;
    padding-bottom: 10px;
}